<h1><%= @event_request.event.title %></h1>

<p><%= @event_request.user_request_info %></p>
<p><%= t('event.access_site') %></p>

<%= render partial: 'events/details', locals: { event: @event_request.event } %>