<h1><%= @event_request.event.title %></h1>

<p><%= t('event.request.sent.mailer_message') %></p>
<p><%= t('event.await_response') %></p>

<%= render partial: 'events/details', locals: { event: @event_request.event } %>