<h1><%= t(:welcome_message) %></h1>

<% if user_signed_in? %>
  <div>
    
    <%= render partial: 'upcoming_events', locals: { events: @events } %>

    <%= render partial: 'last_games', locals: { games: @games } %>
    
  </div>
<% end %>
